
.formulario{  
    height: fit-content;
   display: flex;
   
}

@media(max-width: 900px){
    .lineaDatos1{
        flex-direction: column;
    }
       

    }

.cajaAfuera{
    background-color: white;
    
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.calendario{
    display: grid;
}
#fecha{
    background-color: #6c757d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    
}

.lineaDatos1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 95%;
    
    
}
.cajaInputs{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.cajaHorarios{
    
    display: flex;
    flex-direction: column;

}

.dia{
    background-color: #6c757d;
    color: white;  

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c757d54; 
    font-size: large;
    border-radius: 7px;
    

}
.cajaInferior{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 1rem

}

.cajaBotonAgendar{    
    margin-top: 1%;
  

}
.tituloFormulario{
    margin-left: 2.5%;
    margin-bottom: 3%;
    
}

.subCajaInferior{
    width: 33%;
    margin-top: 2rem;
}

.horas{
    font-size: medium;
}