.graciasReserva{
    background-color:#6c757d54 ;
    
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-evenly;
}

.cajaTituloGracias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonVolverGracias{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}